---
layout: default
title: Call for papers 
description: Call for papers
permalink: /call-for-papers/
---

<div class="container">
    <div class="section events">

    <p class="flow-text">
        Do you want to share your talent and knowledge with others? Find here ongoing call for papers that you can submit your proposals<br /> 
    </p>

    <p class="caption">Call for papers</p>

    {% assign sorted_cfp = site.data.callforpappers.sporadic | sort:"deadline" %}
    {% assign today = site.time | date: '%Y%m%d%H%M' %}

    {% for event in sorted_cfp %}
        {% assign deadline = event.deadline | date: '%Y%m%d%H%M' %}
        {% if today < deadline %}
            <div class="card-panel">
            <a class="title" href="{{ event.url }}" target="_blank">{{ event.name }}</a><br />
            <strong>Deadline: {{ event.deadline }}</strong><br /><br />
            <p>
                {{ event.description }}
            </p>
            </div>
      {% endif %}
    {% endfor %}

    <p class="caption">Frequent editions</p>

    {% assign sorted_cfp = site.data.callforpappers.frequent | sort:"name" %}
    {% for event in sorted_cfp %}
        <div class="card-panel">
        <a class="title" href="{{ event.url }}" target="_blank">{{ event.name }}</a><br /><br />
        <p>
            {{ event.description }}
        </p>
        </div>
    {% endfor %}

</div>
</div>
