<footer class="page-footer">
<div class="container">
    <div class="row">
    <div class="col l6 s12">
        <h5 class="white-text">Open Agenda</h5>
        <p class="grey-text text-lighten-4">
            An open source project to promote and share events and meetups.  
            Please fork the project and help improving it.
        </p>
    </div>
    <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="{{ site.github_link }}" target="_blank">Github page</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ site.link_to_new_event }}" target="_blank">Suggest event</a></li>
            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
        </ul>
    </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <p class="love">Made with <i class="material-icons">favorite</i> in Porto</p>
    </div>
</div>
</footer>