<nav class="red lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            {{ site.title }}
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ site.link_to_new_event }}" target="_blank"><i class="material-icons left">event</i> Suggest event</a></li>
            <li><a href="/speakers" target="_blank"><i class="material-icons left">face</i> Speakers</a></li>
            <li><a href="/call-for-papers" target="_blank"><i class="material-icons left">filter_none</i> Call for papers</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ site.link_to_new_event }}" target="_blank"><i class="material-icons left">event</i> Suggest event</a></li>
            <li><a href="/speakers" target="_blank"><i class="material-icons left">face</i> Speakers</a></li>
            <li><a href="/call-for-papers" target="_blank"><i class="material-icons left">filter_none</i> Call for papers</a></li>
            
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>