---
---

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.love i {
    font-size: 1rem;
}

.card-panel .title {
    font-weight: bold;
}

.events .card-panel {
    padding: 15px;
}

.events .card-panel p {
    margin-top: 0px;
}

.stack img {
    height: 100px;
}

#logo-container {
    font-size: 1.7rem;
}

#logo {
    margin-top: 10px;
}