<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: 'abc' | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% seo %}
  </head>
  <body>

    {% include forkme.html %}

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ '/assets/custom.js?v=' | append: 'abc' | relative_url }}"></script>

    {% include google_analytics.html %}

  </body>
</html>